# Drizzle
DATABASE_URL=file:local.db

ORIGIN="http://localhost:5173"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="Any String (example) // my-dev-secret-123 // 32323f2f-f224242-2f42f"

STRIPE_SECRET_KEY=sk_test_51TLhzGPWETiS3Pv9OwD9nfJYMVSZr9ePOagCehQqXCWdOTgEUSkeIeuHRbp4dG4NBkl1Neu0V23QUEKtAsdEEJlP001kPaLsSD
PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TLhzGPWETiS3Pv95ONtwjUDrzLHsdUWsQ7wv0rTGcXtfJ2n7WdZfVUB1Yel4c4teeZAUQbLgpRvTG7aghEoyTiI00omPMaCF6
STRIPE_WEBHOOK_SECRET=whsec_ab46532d30c52d13cc63a689738a5b91a87de35599e8b1f60994f2e026f20829

RESEND_API_KEY=re_TKUsYyH1_DYoJ43r1uwzZJD1QGsvYSknb
RESEND_EMAIL=<Recieving_Email (For contact page)>